# Pycharm
.idea/*
#
#exam/core/__pycache__/
#exam/core/dataobjects/*
#exam/core/db/__pycache__/
#exam/core/schedule/__pycache__/
#exam/core/util/__pycache__/
#exam/view/__pycache__/
#music/__pycache__/serializers.cpython-34.pyc
#music/static/images/

*.pyc

