{% load static %}
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
    First Name: <input type="text" ng-model="firstName"> Hello [[firstName]]
    <p ng-bind="firstName"></p>
</div>
<!-- <img src="{% static 'images/a.jpg' %}"/> -->
<script>
var app = angular.module('myApp', []);

app.controller('myCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script>

<script src="{% static 'js/config/config.js' %}"></script>
</body>
</html>
