<!--
import Controller tutorial
-->

{% load static %}
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="{% static 'js/controllers/_3.js' %}"></script>
<body>
<div ng-app="myApp">
    <div ng-controller="_3controller">
        <button ng-click="spicy('Chili')">Chili</button>
        <button ng-click="spicy('Jalapeño')">Jalapeño</button>
        <p>The food is [[spice]] spicy!</p>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);

    app.controller('_3controller', ['$scope', _3]);
</script>

<script src="{% static 'js/config/config.js' %}"></script>
</body>