<!--
Call Service to access Python
-->

{% load static %}
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
<div ng-app="myApp" ng-controller="myCtrl">

<p>Today's s welcome message is:</p>
<h1>[[ myWelcome ]]</h1>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
    $http.get("5")
    .then(function(response) {
        // alert(response.data);
        $scope.myWelcome = response.data;
    });
});
</script>

<script src="{% static 'js/config/config.js' %}"></script>
</body>
</html>
